<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-7">
      
      <div class="my-4">
        <h4 class="col-md-5 col-sm-7 col-11 bg-dark text-light text-center">管理者ログイン</h4>
      </div>
      
      <div class="my-4">
        <div class="my-3">
          <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
            
            <table class="table table-borderless text-nowrap">
              <tr>
                <th class="w-25 align-middle"><%= f.label :email, "メールアドレス", class: "m-0" %></th>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: 'form-control w-100' %></td>
              </tr>
              <tr>
                <th class="w-25 align-middle"><%= f.label :password, "パスワード", class: "m-0" %></th>
                <td><%= f.password_field :password, autocomplete: "current-password", class: 'form-control w-100' %></td>
              </tr>
            </table>
            
            <div class="actions m-4 text-center">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
            
          <% end %>
        </div>
      </div>
      
      <div class="my-4 p-2 text-center">
        <h6 class="col-lg-3 col-md-4 col-sm-5 bg-dark text-light text-center">一般の方</h6>
        <p><%= link_to "こちら", user_session_path %>からログインしてください</p>
      </div>
      
    </div>
  </div>
