<div class="sidebar col-lg-3 col-md-6 py-3 mb-3">
  <h4 class="text-center bg-dark text-light">温泉検索</h4>
  <div>
    <div class="search_area p-2 mb-3">
      <h5>温泉名で検索</h5>
      <%= form_with url: hot_springs_path, class: "input-group ms-auto", method: :get do |f| %>
        <%= f.text_field :search, class: "form-control rounded-start border-dark", placeholder: "温泉名" %>
        <div class="input-group-append">
          <%= f.button :type => "submit", name: nil, class: "btn btn-outline-dark rounded-0 rounded-end" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="search_area p-2 mb-3">
      <h5>泉質で検索</h5>
      <!--本当はチェックボックスにしたい-->
      <% @qualities.each do |quality| %>
        <%= link_to quality.name, hot_springs_path(quality_id: quality.id) %>
      <% end %>
      <br>
      <%= form_with url: hot_springs_path, class: "input-group ms-auto", method: :get do |f| %>
         <ul style="list-style: none;">
           <%= f.collection_check_boxes :quality_ids, Quality.all, :id, :name do |b| %>
           <li><%= b.label { b.check_box + " #{b.text}" } %></li>
           <% end %>
         </ul>

         <%= f.button type: "submit", name: nil, class: "btn btn-outline-dark rounded-0 rounded-end" %>
      <% end %>
    </div>
    <div class="search_area p-2">
      <h5>特徴で検索</h5>
    </div>
  </div>
</div>