<div class="sidebar col-lg-3 col-md-5 pb-3 mb-3">
  <h4 class="text-center bg-dark text-light">温泉検索</h4>
  <div>
    <!--検索窓での検索用-->
    <div class="search_area p-2 pb-3 border-bottom">
      <h5>温泉名で検索</h5>
      <%= form_with url: hot_springs_path, class: "input-group mx-auto", method: :get do |f| %>
        <%= f.text_field :search, class: "form-control rounded-start border-dark", placeholder: "温泉名" %>
        <div class="input-group-append">
          <%= f.button :type => "submit", name: nil, class: "btn btn-outline-dark rounded-0 rounded-end" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <!--泉質選択での検索用-->
    <div class="search_area p-2 py-3 border-bottom">
      <h5>泉質で検索</h5>
      <!--本当はチェックボックスにしたいがやり方がわからないのでとりあえず１つずつのリンク-->
      <%# @qualities.each do |quality| %>
        <%#= link_to quality.name, hot_springs_path(quality_id: quality.id) %>
      <%# end %>
      <!--br-->
      <!--チェックボックス-->
      <%= form_with url: hot_springs_path(, class: "check_boxes", method: :get do |f| %>
        <ul class="" style="list-style: none;">
          <%= f.collection_check_boxes :quality_ids, Quality.all, :id, :name do |b| %>
          <li><%= b.label { b.check_box + " #{b.text}" } %></li>
          <% end %>
        </ul>
        <div class="text-center">
          <%= f.button "検索", type: "submit", name: nil, class: "mx-auto btn btn-outline-dark rounded-0 rounded-end" %>
        </div>
      <% end %>
    </div>

    <!--タグ検索-->
    <div class="search_area p-2 py-3">
      <h5>特徴で検索</h5>
      <div>
        <% @tags.each do |tag| %>
          <%= link_to tag.name, hot_springs_path(tag_id: tag.id), class: "text-dark pr-2" %>
        <% end %>
      </div>
    </div>

  </div>
</div>