<div class="container">
  <div class="row">
    <%= render "public/homes/sidebar" %>
    <div class="col-md-9 col-sm-12">
      <div id="main_visual">
        <div class="pt-4">
          <div class="d-flex">
            <div id="main_visual_text" class="m-auto border border-dark rounded">
              <p class="m-3">
                BeppuOnsen Note とは？
                <br>
                <p class="m-3">
                  別府温泉日帰り利用者のための温泉検索・レビューサイトです。
                  <br>
                  訪れる温泉を選ぶ際の参考になる情報を共有しましょう！
                  <br>
                  <% if user_signed_in? %>
                  <% else %>
                  ログインすると、クチコミやコメントの投稿ができるようになります。
                  <% end %>
                </p>
              </p>
            </div>
          </div>
        </div>

        <% if user_signed_in? %>
        <% else %>
        <div class='guest-login-box text-center mt-3'>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'guest-login-btn btn btn btn-info' %>
        </div>
        <% end %>

      </div>

      <div id="new_items" class="p-3">
        <h4>新着クチコミ</h4>
        <div class="row">
          <% @reviews.each do |review| %>
          <div class="col-lg-6">
            <%=link_to review.title, hot_spring_review_path(review.hot_spring.id, review.id), class: "text-dark" %>
            （<%=link_to review.hot_spring.name, hot_spring_path(review.hot_spring.id), class: "text-dark" %>）<br>
            <%= review.body %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

