<div class="container">
  <div class="row pb-3">
    <%= render "public/homes/sidebar" %>
    <div class="col-lg-9 col-md-12">
      <div id="main_visual">
        <div class="pt-4">
          <div class="d-flex">
            <div id="main_visual_text" class="m-auto">
              <p class="m-3">
                BeppuOnsen Note とは？
                <br>
                <p class="m-3">
                  別府温泉日帰り利用者のための温泉検索・レビューサイトです。
                  <br>
                  訪れる温泉を選ぶ際の参考になる情報を共有しましょう！
                  <br>
                  <% if user_signed_in? %>
                  <% else %>
                  ログインすると、クチコミやコメントの投稿ができるようになります。
                  <% end %>
                </p>
              </p>
            </div>
          </div>
        </div>

        <% if user_signed_in? %>
        <% else %>
        <div class='guest-login-box text-center mt-3'>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'guest-login-btn btn btn btn-info' %>
        </div>
        <% end %>

      </div>

      <div id="new_items" class="p-3">
        <div class="row mx-auto mt-3">
          <h4 class="col-lg-4 col-md-5 col-sm-6 bg-dark text-center text-light">新着クチコミ</h4>
        </div>
        <div class="row mx-auto">
          <% @reviews.each do |review| %>
          <div class="col-lg-5 py-2 my-2 mx-auto border border-dark rounded">
            <h5>
              <%=link_to review.title, hot_spring_review_path(review.hot_spring.id, review.id), class: "text-dark" %>
              （<%=link_to review.hot_spring.name, hot_spring_path(review.hot_spring.id), class: "text-dark" %>）
            </h5>
            <div id="star-rate<%= review.id %>"></div>
              <script>
                raty(document.querySelector('#star-rate<%= review.id %>'),{
                  //星画像の指定などのオプションをここに
                  size      : 36,
                  starOff   : '<%= asset_path('star-off.png') %>',
                  starOn    : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  readOnly: true,
                  score: <%= review.rate %>,
                  half: true,
                });
              </script>
            <div class="p-2"><%= review.body %></div>
          </div>
          <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>

