<div>
  <div class="row mx-auto my-4">
    <h4 class="col-md-5 bg-dark text-light text-center">温泉一覧</h4>
    <p class="col-md-3 text-center">（全<%= @hot_springs.count %>件）</p>
    <%= link_to '新しい順', hot_springs_path(latest: "true") %>
    |<%= link_to '古い順', hot_springs_path(oldest: "true") %>
    |<%= link_to '評価の高い順', hot_springs_path(rate_count: "true") %>
    |<%= link_to 'クチコミの多い順', hot_springs_path(review_count: "true") %>
    
    <!--余裕があれば、ユーザーの温泉情報登録申請ができるようにする-->
    <%#= link_to "新規登録を申請する", class: "align-middle text-dark" %>
  </div>
  <div class="row mx-auto pt-3">
    <table class="table table-secondary table-border table-responsive">
      <%= render 'index', hot_springs: @hot_springs , user: current_user %>
    </table>
    <%= paginate @hot_springs %>
  </div>
</div>
