<div class="mx-auto col-11 col-sm-10 col-lg-8">
  <div class="my-4 d-flex">
    <h4 class="col-3 bg-dark text-light text-center text-nowrap">温泉一覧</h4>
    <p class="col-3 text-center">（全<%= @hot_springs.count %>件）</p>
    <div class="col-6"></div>
    <div class="col-1 text-center pt-1">
      <%#= link_to "新規登録を申請する", class: "align-middle text-dark" %>
    </div>
  </div>
  <div class="p-5">
    <table class="table table-secondary table-border text-nowrap">
      <% @hot_springs.each do |hot_spring| %>
        <tbody>
          <tr>
            <td><%=image_tag hot_spring.get_hot_spring_image, size: "160x100" %></td>
            <td>
              <div class="row">
                <div class="col-3">
                  <% if hot_spring.bookmarked_by?(current_user) %>
                    <%= link_to  hot_spring_bookmarks_path(hot_spring), class: "btn btn-secondary btn-sm text-decoration-none", method: :delete do %>
                      <i class="fa-solid fa-bookmark"></i> 行きたい
                    <% end %>
                  <% else %>
                    <%= link_to  hot_spring_bookmarks_path(hot_spring), class: "btn btn btn-outline-secondary btn-sm text-decoration-none", method: :post do %>
                      <i class="fa-regular fa-bookmark"></i> 行きたい
                    <% end %>
                  <% end %>
                </div>
                <div class="col-3">
                  <% if hot_spring.visited_by?(current_user) %>
                    <%= link_to  hot_spring_visited_marks_path(hot_spring), class: "btn btn-secondary btn-sm text-decoration-none", method: :delete do %>
                      <i class="fa-solid fa-square-check"></i> 行った
                    <% end %>
                  <% else %>
                    <%= link_to  hot_spring_visited_marks_path(hot_spring), class: "btn btn btn-outline-secondary btn-sm text-decoration-none", method: :post do %>
                      <i class="fa-regular fa-square-check"></i> 行った
                    <% end %>
                  <% end %>
                </div>
                <div class="col-6">
                  <%= link_to "クチコミを投稿する", hot_spring_reviews_path(hot_spring), class: "btn btn-outline-success btn-sm" %>
                </div>
              </div>
              <h5 class="my-2"><%= link_to hot_spring.name, hot_spring_path(hot_spring), class: "text-dark" %></h5>
              <div class="row">
                <div id="average-star-rate<%= hot_spring.id %>" class="col-8">　総合評価　　</div>
                <script>
                  raty(document.querySelector('#average-star-rate<%= hot_spring.id %>'),{
                    //星画像の指定などのオプションをここに
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    readOnly: true,
                    score: <%= hot_spring.reviews.average(:rate).to_f.round(1) %>,
                    half: true,
                  });
                </script>
                <div class="col-4"><%= hot_spring.reviews.count %> 件の評価</div>
              </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <%= paginate @hot_springs %>
  </div>
</div>