 <%= form_with model: [hot_spring, review], url: url, method: method do |f| %>
    <%= f.file_field :images, multiple: true %>
      <div id="post_raty"></div>
      <script>
        // scriptファイルをどのidの部分に配置するかを指定
        let elem = document.querySelector('#post_raty');
        let opt = {
        //星画像の指定などのオプションをここに記述
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'review[rate]',
        half: true,
        };
        raty(elem,opt);
      </script>
      <div id="post_raty"></div>
      <%= f.text_field :title, class: "form-control", placeholder: "クチコミタイトルを入力"%>
      <%= f.text_area :body, class: "form-control", placeholder: "クチコミ本文を入力", rows: "5" %>

      <%= f.radio_button :is_pablished, :true %>
      <%= f.label :is_pablished, "公開", value: :true %>
      <%= f.radio_button :is_pablished, :false %>
      <%= f.label :is_pablished, "非公開", value: :false %>

      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="text-right">
        <%= f.submit message, class: "btn btn-success btn-sm"%>
      </div>
  <% end %>