<div id="hot_spring_<%= hot_spring.id %>">
  <div class="row my-2">
    <div class="col-lg-4 my-auto ">
      <h4 class="bg-dark text-light text-center"><%= hot_spring.name %></h4>
      <% if hot_spring.running_status_i18n != "営業" %>
        <div class="text-center text-danger">※ <%= hot_spring.running_status_i18n %></div>
      <% end %>
    </div>
    <div class="col-xl-8">
      <ul class="list-unstyled d-flex mt-3">
        <% hot_spring.qualities.each do |quality| %>
          <li class="border border-danger text-danger rounded p-1"><%= quality.name %></li>
        <% end %>
        <% hot_spring.tags.each do |tag| %>
          <li class="border border-info text-info rounded p-1"><%= tag.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-lg-4 col-md-6 text-center">
        <%= image_tag hot_spring.get_hot_spring_image, size: "320x200" %>
      </div>
      <div class="col-xl-8 col-lg-7 col-md-6 p-2 mx-auto">
        <div class="row">
          <ul class="col-11 list-unstyled d-flex mb-2">
            <li class="bookmark-btn m-1">
              <%= render 'public/bookmarks/bookmark-btn', hot_spring: hot_spring, user: current_user %>
            </li>
            <li class="visited_mark-btn m-1">
              <%= render 'public/visited_marks/visited_mark-btn', hot_spring: hot_spring, user: current_user %>
            </li>
        </div>
        <div class="row">
          <!--星5段階評価表示-->
          <div id="average-star-rate" class="col-8"><h5>ユーザー総合評価</h5>　　</div>
            <script>
              raty(document.querySelector('#average-star-rate'),{
                //星画像の指定などのオプションをここに
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                readOnly: true,
                score: <%= hot_spring.reviews.where(is_pablished: true).average(:rate).to_f.round(1) %>,
                half: true,
              });
            </script>
          <div class="col-4 m-auto"><%= hot_spring.reviews.where(is_pablished: true).count %> 件の評価</div>
          <div class="m-3"><%= hot_spring.introduction %></div>
        </div>

      </div>
    </div>
  </div>
</div>
