<%= form_with model: hot_spring, url: url, local: true do |f| %>
  <div class="table-responsive">
    <table class="table table-borderless">
      <tr class="field">
        <th class="align-middle"><%= f.label :hot_spring_image, "温泉画像", class: "m-0" %></th>
        <td><%= f.file_field :hot_spring_image, accept: "image/*" %></td>
      </tr>
      <tr class="field">
        <th class="align-middle"><%= f.label :name, "温泉名", class: "m-0" %></th>
        <td><%= f.text_field :name, autofocus: true, class: 'form-control' %></td>
      </tr>
      <tr class="field">
        <th><%= f.label :introduction, "紹介文", class: "m-0" %></th>
        <td><%= f.text_area :introduction, class: "form-control", rows: 5 %></td>
      </tr>
      <tr>
        <th><%= f.label :quality_id, "泉質" %></th>
        <td class="check_box">
          <%= f.collection_check_boxes(:quality_ids, Quality.all, :id, :name) do |quality| %>
            <%= quality.label do %>
              <%= quality.check_box %>
              <%= quality.text %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr class="field">
        <th class="align-middle"><%= f.label :address, "住所", class: "m-0" %></th>
        <td><%= f.text_field :address, class: "form-control" %></td>
      </tr>
      <tr class="field">
        <th class="align-middle"><%= f.label :price, "料金", class: "m-0" %></th>
        <td><%= f.text_field :price, class: "form-control" %></td>
      </tr>
      <tr class="field">
        <th class="align-middle"><%= f.label :private_bath_price, "貸切風呂料金", class: "m-0" %></th>
        <td><%= f.text_field :private_bath_price, class: "form-control" %></td>
      </tr>
      <tr class="field">
        <th class="align-middle"><%= f.label :hours, "立寄湯利用時間", class: "m-0" %></th>
        <td><%= f.text_field :hours, class: "form-control" %></td>
      </tr>
      <tr class="field">
        <th class="align-middle"><%= f.label :holiday, "定休日", class: "m-0" %></th>
        <td><%= f.text_field :holiday, class: "form-control" %></td>
      </tr>
      <tr class="field">
        <th class="align-middle"><%= f.label :parking, "駐車場", class: "m-0" %></th>
        <td><%= f.text_field :parking, class: "form-control" %></td>
      </tr>
      <tr class="field">
        <th class="align-middle"><%= f.label :contact, "問い合わせ先", class: "m-0" %></th>
        <td><%= f.text_field :contact, class: "form-control" %></td>
      </tr>
      <tr class="field align-middle">
        <th><%= f.label :running_status, "営業ステータス", class: "m-0", class: "m-0" %></th>
        <td>
          <div class="w-25 d-inline-block">
            <%= f.radio_button :running_status, :running  %>
            <%= f.label :running_status, "営業" %> 
          </div>
          <div class="w-25 d-inline-block">
            <%= f.radio_button :running_status, :interrupt %>
            <%= f.label :running_status, "休業中" %>
          </div>
          <div class="w-25 d-inline-block">
            <%= f.radio_button :running_status, :closed %>
            <%= f.label :running_status, "閉業" %>
          </div>
        </td>
      </tr>
      <tr class="form-group align-middle text-nowrap">
        <th><%= f.label :is_pablished, "公開ステータス", class: "m-0" %></th>
        <td>
          <div class="w-25 d-inline-block">
            <%= f.radio_button :is_pablished, :true %>
            <%= f.label :is_pablished, "公開", value: :true %>
          </div>
          <div class="w-25 d-inline-block">
            <%= f.radio_button :is_pablished, :false %>
            <%= f.label :is_pablished, "非公開", value: :false %>
          </div>
        </td>
      </tr>
      <tr class="field">
        <th>タグ</th>
        <td>チェックボックス</td>
      </tr>
    </table>
  </div>
  <div class="actions m-4 text-center">
    <%= f.submit message, class: "btn btn-success" %>
  </div>
<% end %>