<div>
  <div class="row mx-auto my-2">
    <h4 class="col-lg-4 my-auto bg-dark text-light text-center"><%= @hot_spring.name %></h4>
    <div class="col-xl-8">
      <ul class="list-unstyled d-flex mt-3">
        <% @hot_spring.qualities.each do |quality| %>
          <li class="border border-danger text-danger rounded p-1"><%= quality.name %></li>　
        <% end %>
        <% @hot_spring.tags.each do |tag| %>
          <li class="border border-info text-info rounded p-1"><%= tag.name %></li>　
        <% end %>
      </ul>
    </div>
  </div>  
  <div class="row mx-auto">
    <div class="col-lg-4 col-md-6 text-center">
      <%= image_tag @hot_spring.get_hot_spring_image, size: "320x200", class: "w-100" %>
    </div>
    <div class="col-xl-8 col-lg-7 col-md-6 p-4 mx-auto">
      <%= @hot_spring.introduction %>
    </div>
  </div>
  
  <div class="p-4">
    <table class="table table-bordered table-dark">
      <tr>
        <th>住所</th>
        <td><%= @hot_spring.address %></td>
      </tr>
      <tr>
        <th>泉質</th>
        <td>
          <% @hot_spring.qualities.each do |quality| %>
            <%= quality.name %>　
          <% end %>
        </td>
      </tr>
      <tr>
        <th>泉質別適応症</th>
        <td>
          <% @effects.each do |effect| %>
            <%= effect.name %>　
          <% end %>
        </td>
      </tr>
      <tr>
        <th>料金</th>
        <td><%= @hot_spring.price %></td>
      </tr>
      <tr>
        <th>貸切風呂料金</th>
        <td><%= @hot_spring.private_bath_price %></td>
      </tr>
      <tr>
        <th>立寄利用時間</th>
        <td><%= @hot_spring.hours %></td>
      </tr>
      <tr>
        <th>定休日</th>
        <td><%= @hot_spring.holiday %></td>
      </tr>
      <tr>
        <th>駐車場</th>
        <td><%= @hot_spring.parking %></td>
      </tr>
      <tr>
        <th>問い合わせ先</th>
        <td><%= @hot_spring.contact %></td>
      </tr>
      <tr>
        <th>営業ステータス</th>
        <td><%= @hot_spring.running_status_i18n %></td>
      </tr>
      <tr>
        <th>公開ステータス</th>
        <td><%= @hot_spring.is_pablished ? "公開" : "非公開" %></td>
      </tr>
      
    </table>
    <div class="actions m-4 text-center">
      <%= link_to '編集する', edit_admin_hot_spring_path(@hot_spring), class: "btn btn-success" %>
    </div>
  </div>
</div>
