<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8">
      <div class="my-4">
        <h4 class="col-3 bg-light text-center">新規会員登録</h4>
        <div class="text-danger">
          <%= render "public/shared/error_messages", resource: resource %>
        </div>
      </div>
      <div class="m-5">
        <%= form_with model: @user, url: user_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
          <table class="table table-borderless text-nowrap">
            <tr class="field">
              <th><%= f.label :username, "ユーザーネーム" %></th>
              <td><%= f.text_field :username, autofocus: true, autocomplete: "username", class: 'form-control' %></td>
            </tr>
            <tr class="field align-middle text-nowrap">
              <th><%= f.label :sex, "性別" %></th>
              <td>
                <div class="w-25 d-inline-block">
                  <%= f.radio_button :sex, value: :0  %>
                  <%= f.label :sex, "男性", value: :0 %> 
                </div>
                <div class="d-inline-block">
                  <%= f.radio_button :sex, value: :1  %>
                  <%= f.label :sex, "女性", value: :1 %>
                </div>
              </td>
            </tr>
            <tr class="field">
              <th><%= f.label :email, "メールアドレス" %></th>
              <td><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com", class: 'form-control' %></td>
            </tr>
            <tr class="field">
              <th>
                <%= f.label :password, "パスワード" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %>文字以上)</em>
                <% end %>
              </th>
              <td><%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %></td>
            </tr>
            <tr class="field">
              <th><%= f.label :password_confirmation, "パスワード(確認用)" %></th>
              <td><%= f.password_field :password_confirmation, class: 'form-control' %></td>
            </tr>
          </table>
          <div class="actions m-4 text-center">
            <%= f.submit "新規登録", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
      <div class="m-4 p-2 text-center">
        <h6 class="col-3 bg-light text-center">既に登録済みの方</h6>
        <p><%= render "public/shared/links" %> からログインしてください</p>
      </div>
    </div>
  </div>
</div>