<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8">
      <div class="my-4">
        <h4 class="col-4 bg-light text-center text-nowrap">ユーザー情報編集</h4>
        
      </div>
      <div class="m-5">
        <%= form_with model: @user, url:admin_user_path, method: :patch, local: true do |f| %>
          <table class="table table-borderless text-nowrap">
            <tr class="field">
              <th class="align-middle"><%= f.label :profile_image, "プロフィール画像", class: "m-0" %></th>
              <td><%= f.file_field :profile_image, accept: "image/*" %></td>
            </tr>
            <tr class="field">
              <th class="align-middle"><%= f.label :username, "ユーザーネーム", class: "m-0" %></th>
              <td><%= f.text_field :username, class: 'form-control' %></td>
            </tr>
            <tr class="field">
              <th><%= f.label :birth_date, "生年月日" %></th>
              <td><%= raw sprintf( f.date_select( :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 5), date_separator: '%s' ), '年 ', '月 ') + '日' %></td>
            </tr>
            <tr class="field align-middle">
              <th><%= f.label :sex, "性別" %></th>
              <td>
                <div class="w-25 d-inline-block">
                  <%= f.radio_button :sex, :male  %>
                  <%= f.label :sex, "男性"  %> 
                </div>
                <div class="d-inline-block">
                  <%= f.radio_button :sex, :female %>
                  <%= f.label :sex, "女性" %>
                </div>
              </td>
            </tr>
            <tr class="field">
              <th class="align-middle"><%= f.label :email, "メールアドレス", class: "m-0" %></th>
              <td><%= f.email_field :email, class: 'form-control' %></td>
            </tr>
            <tr>
              <th><%= f.label :status, "ユーザーステータス", class: "m-0" %></th>
              <td>
                <div class="w-25 d-inline-block">
                  <%= f.radio_button :status, :active  %>
                  <%= f.label :status, "有効"  %> 
                </div>
                <div class="w-25d-inline-block">
                  <%= f.radio_button :status, :invalid %>
                  <%= f.label :status, "退会" %>
                </div>
                <div class="w-25 d-inline-block">
                  <%= f.radio_button :status, :forced_invalid  %>
                  <%= f.label :status, "強制退会"  %> 
                </div>
              </td>
            </tr>
          </table>
            <div class="actions m-4 text-center">
              <%= f.submit "編集を保存", class: "btn btn-success" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>