<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8">
      
      <div class="my-4">
        <h4 class="col-lg-3 col-md-4 col-sm-5 bg-dark text-light text-center">ログイン</h4>
      </div>
      
      <div class="p-2">
        <h6 class="col-md-7 col-sm-9 bg-dark text-light text-center">ユーザーの方はこちらからログイン</h6>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
          <div class="table-responsive">
            <table class="table table-borderless text-nowrap">
              
              <tr>
                <th class="w-25 align-middle"><%= f.label :email, "メールアドレス", class: "m-0" %></th>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: 'form-control w-100' %></td>
              </tr>
              <tr>
                <th class="w-25 align-middle"><%= f.label :password, "パスワード", class: "m-0" %></th>
                <td><%= f.password_field :password, autocomplete: "current-password", class: 'form-control w-100' %></td>
              </tr>
            </table>
            <div class="actions m-4 text-center">
              <%= f.submit "ログイン", class: "btn btn-primary" %>
            </div>
          </div> 
        <% end %>
      </div>
      
      <div class="my-4 p-2 text-center">
        <h6 class="col-md-6 col-sm-9 bg-dark text-light text-center">ユーザー登録がお済みでない方</h6>
        <p><%= render "public/shared/links" %>から新規登録を行なってください</p>
      </div>
      
      <div class="my-4 p-2 text-center">
        <h6 class="col-lg-3 col-md-4 col-sm-5 bg-dark text-light text-center">管理者の方</h6>
        <p><%= link_to "こちら", admin_session_path %>からログインしてください</p>
      </div>
    </div>
  </div>
