<div class="mx-auto col-md-12 col-lg-10 col-xl-9">
  <div class="row my-4">
    <h4 class="col-lg-7 col-md-8 col-sm-12 bg-dark text-light text-center align-middle"><%= @user.username %> さんの行った温泉一覧</h4>
    <p class="col-md-3 col-sm-12 text-center">（全<%= @visited_marks.count %>件）</p>
  </div>
  <div class="row mx-auto pt-3">
    <table class="table table-secondary table-border">
      <% @visited_marks.each do |visited| %>
        <tbody>
          <tr>
            <td><%=image_tag visited.hot_spring.get_hot_spring_image, size: "160x100" %></td>
            <td>
              <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5 m-1">
                  <% if visited.hot_spring.bookmarked_by?(@user) %>
                    <%= link_to  hot_spring_bookmarks_path(visited.hot_spring), class: "btn btn-secondary btn-sm text-decoration-none", method: :delete do %>
                      <i class="fa-solid fa-bookmark"></i> 行きたい
                    <% end %>
                  <% else %>
                    <%= link_to  hot_spring_bookmarks_path(visited.hot_spring), class: "btn btn btn-outline-secondary btn-sm text-decoration-none", method: :post do %>
                      <i class="fa-regular fa-bookmark"></i> 行きたい
                    <% end %>
                  <% end %>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5 m-1">
                  <% if visited.hot_spring.visited_by?(@user) %>
                    <%= link_to  hot_spring_visited_marks_path(visited.hot_spring), class: "btn btn-secondary btn-sm text-decoration-none", method: :delete do %>
                      <i class="fa-solid fa-square-check"></i> 行った
                    <% end %>
                  <% else %>
                    <%= link_to  hot_spring_visited_marks_path(visited.hot_spring), class: "btn btn btn-outline-secondary btn-sm text-decoration-none", method: :post do %>
                      <i class="fa-regular fa-square-check"></i> 行った
                    <% end %>
                  <% end %>
                </div>
                <div class="col-lg-5 col-sm-8 col-12 m-1">
                  <%= link_to "クチコミを投稿する", hot_spring_reviews_path(visited.hot_spring), class: "btn btn-outline-success btn-sm" %>
                </div>
              </div>
              <h5 class="my-2"><%= link_to visited.hot_spring.name, hot_spring_path(visited.hot_spring), class: "text-dark" %></h5>
              <div class="row">
                <div id="average-star-rate<%= visited.hot_spring.id %>" class="col-md-8">　総合評価　　</div>
                <script>
                  raty(document.querySelector('#average-star-rate<%= visited.hot_spring.id %>'),{
                    //星画像の指定などのオプションをここに
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    readOnly: true,
                    score: <%= visited.hot_spring.reviews.average(:rate).to_f.round(1) %>,
                    half: true,
                  });
                </script>
                <div class="col-md-3 text-right"><%= visited.hot_spring.reviews.count %> 件の評価</div>
              </div>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>