<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>BeppuOnsen Note</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          
          <% if !admin_signed_in? %>
            <li>
              <%=  link_to about_path, class: 'nav-link text-light' do %>
                <i class="fa-regular fa-circle-question"></i> 別府温泉について
              <% end %>
            </li>
            <li>
              <%=  link_to hot_springs_path, class: 'nav-link text-light' do %>
                <i class="fa-solid fa-list"></i> 温泉一覧
              <% end %>
            </li>
            
            <% if user_signed_in? %>
              <li class="small px-2 py-0 ">
                <div class="text-light">ユーザーネーム：<%= current_user.username %></div>
                <div class="d-flex">
                  <%= link_to user_path(current_user), class: 'nav-link text-light pr-2 p-0' do %>
                    <i class="fas fa-solid fa-user"></i> マイページ
                  <% end %>
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light p-0' do %>
                    <i class="fas fa-sign-out-alt"></i> ログアウト
                  <% end %>
                </div>
              </li>
              <li>
                <%= link_to new_contact_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-regular fa-envelope"></i>
                <% end %>
              </li>
              
            <% else %>
              <li>
                <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-user-plus"></i> 新規登録
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt"></i> ログイン
                <% end %>
              </li>
            <% end %>
            
          <% else %>
            <li><%= link_to "クチコミ一覧", admin_root_path, class: 'nav-link text-light'%></li>
            <li><%= link_to "コメント一覧", admin_comments_path, class: 'nav-link text-light'%></li>
            <li><%= link_to "温泉一覧", admin_hot_springs_path, class: 'nav-link text-light'%></li>
            <li><%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-light'%></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light'%></li>
          <% end %>
          
        </ul>
      </div>
    </div>
  </nav>
</header>